.home {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	min-height: 100vh;
}
/*
RED: #D54F4C
YELLOW: #F4CC5F
BLUE: #79B1C8
GRAY: #434141
background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(251,215,67, 1) 71%
	);
	/*#f3ca698f #ffc94bd2
crema: #f9faf4
gris: #4a6163
naranjita: #f9a66c
amarillito: #ffc94b
rojito: #f17a7e
#ffc94bd2

#FFFAF0 blanco no tan blanco
#FFFFF0 me sirve tmb


*/
