.filters {
    display: flex;
    width:90%;
    margin:auto;
    margin-bottom: 10px;
    padding: 20px 5px;
    justify-content: space-around;
    border: 1px solid #434141;
    border-radius: 8px;
    background-color: #4a6163e0;
}